<div>
    <table class="table">
        <th>Acceder</th>
        <tr>
            <td>
                <a href="/mostrar">Mostrar Datos Publicos</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/buscar">Busqueda de datos Especificos</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/mapa">Mapa de referencia</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/login">Iniciar Sesión</a>
            </td>
        </tr>
    </table>
</div>